<html>
	<head>
		<title>Test Chips</title>
		<link rel="stylesheet" type="text/css" href="mdchips.css">
		<meta name="viewport" content="width=device-width" />
	</head>
	<body ng-app='mdChipsDemo' ng-controller="MainController">
		<div>
			<md-chips collection='itemsCollection' ng-model='selectedUsers' text='To' md-title='title' md-thumbnail='thumbnailUrl' md-subtitle='subtitle' md-item='items'/>
		</div>
		<div>
			<h3>Returned values:</h3>
			<div ng-repeat='user in selectedUsers track by $index'>
				{{JSON.stringify(user)}}
			</div>
		</div>
	</body>
	<script src="angular.js"></script>
	<script src="mdchips.js"></script>
	<script src="app.js"></script>
</html>