@font-face {
	font-family: 'RobotoRegular';
  	src: url('Roboto-Regular.ttf');
}
.md-chips {
	width:300px;
	position: relative;
}
.chips-image, .chips-active-img{
	width: 72px;
	display: inline-block;
	float:left;
	height: 72px;

}
.chips-image img, .chips-active-img img{
	width:40px;
	height:40px;
	border-radius: 100px;
	margin:16px;
}

.chips-item-wrapper {
	height: 72px;
	font-family: Arial;
	color: #797979;
	border-bottom: 1px solid #e7e7e7;
	text-overflow: ellipsis;
	overflow: hidden;
}

.chips-title, .chips-active-title {
	display: inline-block;
	font-family: 'RobotoRegular', Arial;
	font-size: 16px;
	padding-top: 16px;
}

.chips-title {
	height: 20px;
	display: inherit;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	padding-right: 15px;
}

.chips-active-title {
	color: white;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
}

.chips-description, .chips-active-description {
	margin:0;
	font-family: 'RobotoRegular', Arial;
	font-size: 14px;
	padding-bottom: 16px;
	padding-right: 15px;
}

.chips-description {
	display: inherit;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.chips-active-description {
	color: #77D9E7;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
}

.chips-mini {
	overflow: hidden;
	display: inline-block;
	background:#E7E7E7;
	border-radius: 100px;
	margin-top: 8px;
	margin-right: 8px;
	color:#969696;
	height: 32px;
}

 .chips-mini-img {
	width:32px;
	height:32px;
	float: left;
}

 .chips-mini-img img {
	width:32px;
	height:32px;
	border-radius: 32px;
}

.chips-mini-title {
	float: none;
	display: inline-block;
	font-family: 'RobotoRegular', Arial;
	font-size: 14px;
	padding: 7px 12px 7px 8px;
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 80%;
}

.chipsInput {

	border: 1px solid rgba(0,0,0,0);
	line-height: 40px;
	max-width: 100%;
}

input.chipsInput:focus {
	-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
}

.chips-input-field {
	min-height: 30px;
}

.chips-mini-item {
	display: inline-block;
	float:left;
	max-width: 100%;
}

.chips-mini:hover {
	background: #FAFAFA;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
	cursor: pointer;
}

.chips-mini {
	max-width: 100%;
	position: relative;
}


.chips-mini:active {
	background: #EDEDED;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
}

.chipsInput {
	height: 52px;
	width:20px;
	float: left;
}

.chips-active {
	position:absolute;
	width:100%;
	position: absolute;
}

#chips-active-list {
	box-shadow: 0px 2px 5px 1px rgba(1,1,1,0.2);
}

.chips-active-main {
	background: #00B8D4;
}

.chips-active-wrap {
	overflow: hidden;
	display: block;
	height: 72px;
}


.boxclose{
    float:right;
    cursor:pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    width: 50px;
    height: 72px;      
}

.boxclose a {
	width: 24px;
	height: 24px;
	margin-top: 36px;
	position: absolute;
	right: 15px;
}

.boxclose a:before {
	content: "\2715";
	background: white;
	padding: 4px 7px 5px 6px;
	border-radius: 100px;
	font-size: 11px;
	color: #00B8D4;
}

.md-chips-single-line {
	background: white;
}

.md-chips-single-line:hover {
	background: #E8E8E8;
	cursor: pointer;
}

.md-chips-single-line:active {
	background: #D6D6D6;
}

.chips-active-description-only {
	margin-top: 26px;
	margin-bottom: 26px;
	font-family: 'RobotoRegular', Arial;
	font-size: 14px;
	color: #A5A5A5;
}

.input-chips-elements {
	overflow: hidden;
}

#chips-list {
	max-height: 220px;
	overflow: auto;
	position: absolute;
	width: 100%;
	background: white;
	box-shadow: 0px 0.5px 4px 0px rgba(1,1,1,0.3);
}

.chips-item-wrapper:hover {
	background: #efefef;
}

.image-default-mini {
	width:32px;
	height:32px;
	border-radius: 32px;
	background: #ccc;
}

.image-default {
	width:40px;
	height:40px;
	border-radius: 100px;
	margin:16px;
	background: #ccc;
}

.chips-active-image-default {
	width:40px;
	height:40px;
	border-radius: 100px;
	margin:16px;
	background: #ccc;
}

.active {
	background: #e8e8e8;
}

#chips-list::-webkit-scrollbar {  
    width: 7px;
}  
#chips-list::-webkit-scrollbar-track {  
    background-color: transparent;  
}  
#chips-list::-webkit-scrollbar-thumb {  
    background-color: rgba(200,200,200, 0.5);  
    opacity: 0.5;
    border-radius: 5px;
}  
#chips-list::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}